{% if page.homepage %}
<div class="bs-docs-masthead" id="jumbotron-header">
  <div class="container">
    <h1 class="home-title">{{ site.name }}</h1>
    <p class="lead">{{ page.description }}</p>
    <p class="lead">
      <a href="https://stats.hqtrivia.pro" class="btn btn-outline-inverse btn-lg">See your stats online!</a>
      <a href="{{ site.project.add_url }}" class="btn btn-outline-inverse btn-lg">Add the bot!</a>
    </p>
  </div>
</div>
{% else %}
<div class="bs-docs-header" id="jumbotron-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</div>
{% endif %}
